body{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    width: 100vw;
    height: 100vh;
}
.playground{
    border: 1px solid #a2a2a2;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: .4rem;
}
.settings{
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #29323c;
}
.settings input[type=text]{
    width: 75px;
}

.plant{
    padding: 0.2rem;
    font-size: 1.5rem;
    opacity: 0.25;
}
.plant.active{
    opacity: 1!important;
    text-shadow: 0 0 50px #ffffff, 0 0 100px #ffffff, 0 0 150px #ffffff,
    0 0 200px #ffffff;
}

.game-message{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(0, 0, 0, .25);
    padding: 1rem 2rem;
    font-size: 2rem;
    opacity: 0.75;
    border-radius: 50rem;
}
